.App {
  text-align: center;
  background-color: darkslategrey;
}

.movieContainer {
  text-align: center;
  border: 5px solid black;
  padding: 10px;
  margin: 10px;
}

.appBody {
  text-align: center;
}

.movieContainer img {
  max-width: 100%;
  height: auto;
}

.movieTitle {
  margin: 10px 0;
}

.movieSynopsis {
  border: 5px solid black;
  padding: 10px;
}

.movieRating {
  border: 5px solid black;
  padding: 10px;
}